@using Web.Resources.Home
<footer class="bg3 p-t-75 p-b-32">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-2 p-b-50" style="padding-left:40px !important">
                <h4 class="stext-301 cl0 p-b-30">
                    @re_Home.Parents
                </h4>
                @foreach (var item in ViewBag.Parent)
                {
                    <ul>
                        <li class="p-b-10">
                            <a href="/product-category/@item.ID" class="stext-107 cl7 hov-cl1 trans-04">
                                @(Request.Cookies["Lang"] != null && Request.Cookies["Lang"].Value == "vi" ? item.NameVN : item.Name)
                            </a>
                        </li>
                    </ul>
                }
            </div>

            <div class="col-xs-6 col-sm-6 col-lg-3 p-b-50" style="padding-left:40px !important">
                <h4 class="stext-301 cl0 p-b-30">
                    @re_Home.Categories
                </h4>

                @foreach (var item in ViewBag.Category)
                {
                    <ul>
                        <li class="p-b-10">
                            <a href="/product-category/@item.ID" class="stext-107 cl7 hov-cl1 trans-04">
                                @(Request.Cookies["Lang"] != null && Request.Cookies["Lang"].Value == "vi" ? item.NameVN : item.Name)
                            </a>
                        </li>
                    </ul>
                }
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    @re_Home.About
                </h4>

                <p class="stext-107 cl7 size-201">
                    <i class="fa fa-home"></i> @ViewBag.ConAddress
                </p>

                <p class="stext-107 cl7 size-201">
                    <i class="fa fa-phone"></i> @ViewBag.ConNumber
                </p>

                <p class="stext-107 cl7 size-201">
                    <i class="fa fa-envelope-square"></i> @ViewBag.ConEmail
                </p>

                <div class="p-t-27">
                    <a href="https://www.facebook.com/Adelade-268771333801883/?ref=br_rs" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-instagram"></i>
                    </a>

                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-pinterest-p"></i>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4 p-b-50">
                <div class="fb-page"
                     data-href="https://www.facebook.com/Adelade-268771333801883/"
                     data-width="340"
                     data-hide-cover="false"
                     data-show-facepile="true">
                </div>
                @*<h4 class="stext-301 cl0 p-b-30">
                        @re_Home.NewsLetter
                    </h4>

                    <form>
                        <div class="wrap-input1 w-full p-b-4">
                            <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com">
                            <div class="focus-input1 trans-04"></div>
                        </div>

                        <div class="p-t-18">
                            <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                                Subscribe
                            </button>
                        </div>
                    </form>*@
            </div>
        </div>

        <div class="p-t-40">
            <p class="stext-107 cl6 txt-center">
                Copyright &copy; <a href="https://www.facebook.com/Adelade-268771333801883/">ADELADE</a>
                <script>document.write(new Date().getFullYear());</script>
            </p>
        </div>
    </div>
</footer>