@using Web.Resources.admin.Product
<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title">@re_Product.EditProduct</h4>
        <p class="card-category">{{product.Name}}</p>
    </div>
    <div class="card-body">
        <form class="form-horizontal" novalidate name="frmEditproduct" role="form" ng-submit="EditProduct()">
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="name">
                        @re_Product.ProductName
                        <span ng-hide="frmEditproduct.name.$error.maxlength" ng-show="frmEditproduct.name.$invalid" class="text-danger"> *</span>
                    </label>
                    <input type="text" class="form-control" ng-change="GetSeoTitle()" ng-model="product.Name" ng-maxlength="40" name="name" required placeholder="Nhập tên sản phẩm...">
                    <span ng-show="frmEditproduct.name.$error.maxlength" class="text-danger">Tên sảm phẩm tối đa 40 ký tự</span>
                </div>
                <div class="form-group col-md-4">
                    <label for="alias">
                        @re_Product.SeoTitle
                        <span class="text-danger" ng-show="frmEditproduct.alias.$invalid"> *</span>
                    </label>
                    <input type="text" required placeholder="Nhập tiêu đề SEO..." class="form-control" ng-model="product.Alias" name="alias">
                </div>
                <div class="form-group col-md-3">
                    <label for="parentId">@re_Product.Category</label>
                    <select name="categoryID" ng-model="product.CategoryID" ng-options="option.ID as option.Name for option in categories" class="custom-select"></select>
                    <input type="hidden" name="categoryID" ng-model="product.CategoryID" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="price">
                        @re_Product.Price
                        <span class="text-danger" ng-show="frmEditproduct.price.$invalid"> *</span>
                    </label>
                    <input type="number" required placeholder="Nhập số lượng..." class="form-control" min="0" ng-model="product.Price" name="price">
                </div>
                <div class="form-group col-md-3">
                    <label for="promotionPrice">
                        @re_Product.PromotionPrice
                        <span class="text-danger" ng-show="frmEditproduct.promotionPrice.$invalid"> *</span>
                    </label>
                    <input type="number" required placeholder="Nhập giá khuyến mãi..." class="form-control" min="0" max="75" maxlength="3" ng-model="product.PromotionPrice" name="promotionPrice">
                </div>
                <div class="form-group col-md-3">
                    <label for="quantity">
                        @re_Product.Quantity
                        <span ng-show="frmEditproduct.quantity.$invalid" class="text-danger"> *</span>
                    </label>
                    <input type="number" required class="form-control" min="0" ng-model="product.Quantity" name="quantity" placeholder="Nhập số lượng...">
                </div>
                <div class="form-group col-md-3">
                    <label for="warranty">@re_Product.Warranty</label>
                    <input type="number" required class="form-control" min="0" max="48" maxlength="3" ng-model="product.Warranty" name="warranty" placeholder="month">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="metaKeyword">
                        @re_Product.MetaKeyword
                        <span ng-show="frmEditproduct.metaKeyword.$invalid" class="text-danger"> *</span>
                    </label>
                    <input type="text" required placeholder="Nhập Meta Keyword..." class="form-control" ng-model="product.MetaKeyword" name="metaKeyword">
                </div>
                <div class="form-group col-md-5">
                    <label for="metaDescription">
                        @re_Product.MetaDescription
                    </label>
                    <input type="text" placeholder="Nhập Meta Description..." ng-maxlength="600" class="form-control" ng-model="product.MetaDescription" name="metaDescription" />
                    <span class="text-danger" ng-show="frmEditproduct.metaDescription.$error.maxlength">Nội dung không được quá 600 ký tự</span>
                </div>
                <div class="form-group col-md-2">
                    <label for="viewCount">@re_Product.View</label>
                    <input type="number" required class="form-control" min="0" ng-model="product.ViewCount" name="viewCount">
                </div>
                <div class="form-group col-md-2">
                    <label for="tags">@re_Product.Tags<span ng-show="frmEditproduct.tags.$invalid" class="text-danger"> *</span></label>
                    <input type="text" class="form-control" min="0" ng-model="product.Tags" name="tags">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="image">
                        @re_Product.Image
                        <span ng-show="frmEditproduct.image.$invalid" class="text-danger"> *</span>
                    </label>
                    <input type="text" class="form-control" ng-model="product.Image" name="image" required>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="ChooseImage()">Upload</button>
                    </div>
                </div>
                <div class="form-group col-md-8">
                    <label for="imageMore">
                        @re_Product.MoreImages
                        <span ng-show="frmEditproduct.imageMore.$invalid" class="text-danger"> *</span>
                    </label>
                    <ul class="nav">
                        <li class="nav-item" ng-repeat="img in moreImages">
                            <img ng-src="{{img}}" class="img-content" style="width:4.5em" />
                        </li>
                    </ul>
                    <input type="text" class="form-control" ng-model="product.ImageMore" name="imageMore" style="display:none" required>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="ChooseImageMore()">Upload</button>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <label for="description">@re_Product.Description</label>
                <textarea placeholder="Nội dung..." class="form-control" ckeditor="editorOptions" ng-maxlength="600" ng-model="product.Content" name="content"></textarea>
                <span class="text-danger" ng-show="frmEditproduct.content.$error.maxlength">Nội dung không được quá 600 ký tự</span>
            </div>
            <div class="form-row">
                <div class="form-check col">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="status" ng-checked="product.Status" ng-model="product.Status"> @re_Product.Active
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
                <div class="form-check col">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="homeFlag" ng-checked="product.HomeFlag" ng-model="product.HomeFlag"> @re_Product.ShowHomePage
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
                <div class="form-check col">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="hotFlag" ng-checked="product.HotFlag" ng-model="product.HotFlag"> @re_Product.HotProduct
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
            </div>
            <div class="form-row ">
                <div class="col col-md-6">
                    <button class="btn btn-danger btn-sm pull-left" ui-sref="products"><i class="fa fa-ban"></i> Back</button>
                </div>
                <div class="col col-md-6">
                    <button type="submit" ng-disabled="frmEditproduct.$invalid" class="btn btn-primary btn-sm pull-right"><i class="fa fa-dot-circle-o"></i> Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>