@using Web.Resources.Product
@using Web.Resources.Home
@using Web.Resources.ShopingCart
@using System.Data

<style>
    .size-checkout {
        margin-left: 11px !important;
    }

    @@media (max-width: 1300px) {
        .size-checkout {
            margin-left: 0px !important;
        }
    }
</style>

<div style="margin-top:30px;" ng-controller="ShoppingCartController">
    <!-- breadcrumb -->
    <div class="container">
        <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
            <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
                @re_Home.Home
                <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
            </a>

            @if (Request.Cookies["Lang"] != null && Request.Cookies["Lang"].Value == "vi")
            {
                <a class="stext-109 cl8 hov-cl1 trans-04">
                    @ViewBag.CategoryNameVN
                    <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
                </a>
            }
            else if (Request.Cookies["Lang"] != null && Request.Cookies["Lang"].Value == "fr")
            {
                <a class="stext-109 cl8 hov-cl1 trans-04">
                    @ViewBag.CategoryNameFr
                    <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
                </a>
            }
            else
            {
                <a class="stext-109 cl8 hov-cl1 trans-04">
                    @ViewBag.CategoryName
                    <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
                </a>
            }

            <span class="stext-109 text-primary">
                @Model.Name  (@re_Product.View: @ViewBag.Views)
            </span>
        </div>
    </div>
    <!-- Product Detail -->
    <section class="sec-product-detail bg0 p-t-40 p-b-60">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-7 p-b-30">
                    <div class="p-l-25 p-r-30 p-lr-0-lg">
                        <div class="wrap-slick3 flex-sb flex-w">
                            <div class="wrap-slick3-dots"></div>
                            <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>
                            <div class="slick3 gallery-lb">
                                @{
                                    var moreImg = (List<string>)ViewBag.MoreImgs;
                                    if (moreImg.Count > 0)
                                    {
                                        foreach (var item in moreImg)
                                        {
                                            <div class="item-slick3" data-thumb="@item">
                                                <div class="wrap-pic-w pos-relative img-zoom-details">
                                                    <img src="@item" alt="IMG-PRODUCT">
                                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="@item">
                                                        <i class="fa fa-expand"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-5 p-b-30">
                    <div class="p-r-50 p-t-5 p-lr-0-lg">

                        @if (Request.Cookies["Lang"] != null && Request.Cookies["Lang"].Value == "vi")
                        {
                            <h4 class="mtext-105 cl2 js-name-detail p-b-6">
                                @Model.NameVN (Mã: @Model.Code)
                            </h4>

                            if (Model.PromotionPrice > 0)
                            {
                                <span class="mtext-106 cl2">
                                    Giá: <span style="text-decoration:line-through">@string.Format("{0:#,##0}", Model.PriceVN) đ</span> - <span style="color:red">@string.Format("{0:#,##0}", Model.PriceVN - (Model.PriceVN * Model.PromotionPrice) / 100) đ</span>
                                </span>
                            }
                            else
                            {
                                <span class="mtext-106 cl2">
                                    Giá: <b>@string.Format("{0:#,##0}", Model.PriceVN) đ</b>
                                </span>
                            }
                        }
                        else if (Request.Cookies["Lang"] != null && Request.Cookies["Lang"].Value == "fr")
                        {
                            <h4 class="mtext-105 cl2 js-name-detail p-b-6">
                                @Model.NameFr (CODE: @Model.Code)
                            </h4>

                            if (Model.PromotionPrice > 0)
                            {
                                <span class="mtext-106 cl2">
                                    Price: <span style="text-decoration:line-through">$@string.Format("{0:#,##0.00}", Model.PriceFr)</span> - <span style="color:red">$@string.Format("{0:#,##0.00}", Model.PriceFr - (Model.PriceFr * Model.PromotionPrice) / 100)</span>
                                </span>
                            }
                            else
                            {
                                <span class="mtext-106 cl2">
                                    Price: <b>$@string.Format("{0:#,##0.00}", Model.PriceFr)</b>
                                </span>
                            }
                        }
                        else
                        {
                            <h4 class="mtext-105 cl2 js-name-detail p-b-6">
                                @Model.Name (CODE: @Model.Code)
                            </h4>

                            if (Model.PromotionPrice > 0)
                            {
                                <span class="mtext-106 cl2">
                                    Price: <span style="text-decoration:line-through">$@string.Format("{0:#,##0.00}", Model.Price)</span> - <span style="color:red">$@string.Format("{0:#,##0.00}", Model.Price - (Model.Price * Model.PromotionPrice) / 100)</span>
                                </span>
                            }
                            else
                            {
                                <span class="mtext-106 cl2">
                                    Price: <b>$@string.Format("{0:#,##0.00}", Model.Price)</b>
                                </span>
                            }
                        }

                        <!--  -->
                        <div class="p-t-33">
                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-203 flex-c-m respon6">
                                    @re_Product.Color
                                </div>

                                <div class="size-204 respon6-next">
                                    <div class="rs1-select2 bor8 bg0">
                                        <select class="js-select2" name="time" id="ddl_color"></select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-203 flex-c-m respon6">
                                    @re_Product.Size
                                </div>

                                <div class="size-204 respon6-next">
                                    <div class="rs1-select2 bor8 bg0">
                                        <select class="js-select2" name="time" id="ddl_size"></select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="flex-w flex-r-m">
                                <div class="size-204 flex-w flex-m respon6-next">
                                    <button class="flex-c-m stext-101 cl0 size-102 bor19 bg1 p-lr-15 trans-04 js-addcart-detail btn-primary" data-add-to-cart="@Model.ID">
                                        @re_Product.AddToCart
                                    </button>
                                    <button class="flex-c-m stext-101 cl0 size-102 bor19 p-lr-15 trans-04 btn-success js-checkout-detail size-checkout" data-add-to-cart="@Model.ID">
                                        @re_ShopingCart.CheckOut
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bor10 m-t-50 p-t-43 p-b-40">
                <!-- Tab01 -->
                <div class="tab01">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item p-b-10">
                            <a class="nav-link active" data-toggle="tab" href="#description" role="tab">@re_Product.Description</a>
                        </li>

                        <li class="nav-item p-b-10">
                            <a class="nav-link" data-toggle="tab" href="#composition" role="tab">@re_Home.Composition</a>
                        </li>

                        <li class="nav-item p-b-10">
                            <a class="nav-link" data-toggle="tab" href="#shipping" role="tab">@re_Home.CareShippingAndReturn</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content p-t-43">
                        <!-- - -->
                        <div class="tab-pane fade show active" id="description" role="tabpanel">
                            <div class="how-pos2 p-lr-15-md">
                                <p class="stext-102 cl6">
                                    @Html.Raw(Model.Description)
                                </p>
                            </div>
                        </div>

                        <div class="tab-pane fade show" id="composition" role="tabpanel">
                            <div class="how-pos2 p-lr-15-md">
                                <p class="stext-102 cl6">
                                    @Html.Raw(Model.Composition)
                                </p>
                            </div>
                        </div>

                        <div class="tab-pane fade show" id="shipping" role="tabpanel">
                            <div class="how-pos2 p-lr-15-md">
                                <p class="stext-102 cl6">
                                    Care Shipping And Return
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg6 flex-c-m flex-w size-302 m-t-73 p-tb-15">

            @if (Request.Cookies["Lang"] != null && Request.Cookies["Lang"].Value == "vi")
            {
                <span class="stext-107 cl6 p-lr-25">
                    Mã: @Model.Code
                </span>
                <span class="stext-107 cl6 p-lr-25">
                    @re_Product.Category: @ViewBag.CategoryNameVN
                </span>
            }
            else if (Request.Cookies["Lang"] != null && Request.Cookies["Lang"].Value == "fr")
            {
                <span class="stext-107 cl6 p-lr-25">
                    CODE: @Model.Code
                </span>
                <span class="stext-107 cl6 p-lr-25">
                    @re_Product.Category: @ViewBag.CategoryNameFr
                </span>
            }
            else
            {
                <span class="stext-107 cl6 p-lr-25">
                    CODE: @Model.Code
                </span>
                <span class="stext-107 cl6 p-lr-25">
                    @re_Product.Category: @ViewBag.CategoryName
                </span>
            }
        </div>
    </section>

    @if (ViewBag.ProductCagtegory != null)
    {
        <!-- Related Products -->
        <section class="sec-relate-product bg0 p-t-45 p-b-105">
            <div class="container">
                <div class="p-b-45">
                    <h3 class="ltext-103 cl5 txt-center">
                        @re_Product.RelatedProducts
                    </h3>
                </div>

                <!-- Slide2 -->
                <div class="wrap-slick2">
                    <div class="slick2">

                        @foreach (DataRow row in ViewBag.ProductCagtegory)
                        {
                            <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                                <!-- Block2 -->
                                <div class="block2">
                                    <div class="block2-pic hov-img0">
                                        <img src="@row["Image"].ToString()" alt="IMG-PRODUCT">

                                        <a href="/product-details/@int.Parse(row["ID"].ToString())" data-id="@int.Parse(row["ID"].ToString())" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal">
                                            @re_Home.QuickView
                                        </a>
                                        @if (int.Parse(row["PromotionPrice"].ToString()) == 0 && bool.Parse(row["HotFlag"].ToString()) == true)
                                        {
                                            <span class="hot-product-icon">Hot</span>
                                        }
                                        else
                                        {
                                            <span ng-show="@int.Parse(row["PromotionPrice"].ToString()) > 0" class="sale">@row["PromotionPrice"].ToString()%</span>
                                        }
                                    </div>

                                    <div class="block2-txt flex-w flex-t p-t-14">
                                        <div class="block2-txt-child1 flex-col-l ">

                                            @if (Request.Cookies["Lang"] != null && Request.Cookies["Lang"].Value == "vi")
                                            {
                                                <a href="/product-details/@row["ID"].ToString()" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                    @row["NameVN"].ToString()
                                                </a>

                                                if (int.Parse(row["PromotionPrice"].ToString()) > 0)
                                                {
                                                    <span class="stext-105 cl3">
                                                        <span style="text-decoration:line-through">@string.Format("{0:#,##0}", double.Parse(row["PriceVN"].ToString()))</span> - <span style="color:red">@string.Format("{0:#,##0}", double.Parse(row["PriceVN"].ToString()) - (double.Parse(row["PriceVN"].ToString()) * int.Parse(row["PromotionPrice"].ToString())) / 100) đ</span>
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="stext-105 cl3">
                                                        @string.Format("{0:#,##0}", double.Parse(row["PriceVN"].ToString())) đ
                                                    </span>
                                                }
                                            }
                                            else if (Request.Cookies["Lang"] != null && Request.Cookies["Lang"].Value == "fr")
                                            {
                                                <a href="/product-details/@row["ID"].ToString()" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                    @row["NameFr"].ToString()
                                                </a>

                                                if (int.Parse(row["PromotionPrice"].ToString()) > 0)
                                                {
                                                    <span class="stext-105 cl3">
                                                        <span style="text-decoration:line-through">$@string.Format("{0:#,##0.00}", double.Parse(row["PriceFr"].ToString()))</span> - <span style="color:red">$@string.Format("{0:#,##0.00}", double.Parse(row["PriceFr"].ToString()) - (double.Parse(row["PriceFr"].ToString()) * int.Parse(row["PromotionPrice"].ToString())) / 100)</span>
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="stext-105 cl3">
                                                        $@string.Format("{0:#,##0.00}", double.Parse(row["PriceFr"].ToString()))
                                                    </span>
                                                }
                                            }
                                            else
                                            {
                                                <a href="/product-details/@row["ID"].ToString()" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                    @row["Name"].ToString()
                                                </a>

                                                if (int.Parse(row["PromotionPrice"].ToString()) > 0)
                                                {
                                                    <span class="stext-105 cl3">
                                                        <span style="text-decoration:line-through">$@string.Format("{0:#,##0.00}", double.Parse(row["Price"].ToString()))</span> - <span style="color:red">$@string.Format("{0:#,##0.00}", double.Parse(row["Price"].ToString()) - (double.Parse(row["Price"].ToString()) * int.Parse(row["PromotionPrice"].ToString())) / 100)</span>
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="stext-105 cl3">
                                                        $@string.Format("{0:#,##0.00}", double.Parse(row["Price"].ToString()))
                                                    </span>
                                                }
                                            }
                                        </div>

                                        @*<div class="block2-txt-child2 flex-r p-t-3">
                                                <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                                    <img class="icon-heart1 dis-block trans-04" src="~/img/client/icons/icon-heart-01.png" alt="ICON">
                                                    <img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/img/client/icons/icon-heart-02.png" alt="ICON">
                                                </a>
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    }
</div>